<?xml version="1.0" ?>
<manifest android:installLocation="auto"
	android:versionCode="2"
	android:versionName="1.0.0"
	package="jp.co.infiniteloop.itstudycal"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<supports-screens android:anyDensity="true"/>
	<uses-sdk android:minSdkVersion="8"/>

	<application android:debuggable="false"
		android:icon="@drawable/appicon"
		android:label="@string/appname"
		android:name="ItStudyCalendarApplication">

		<activity android:configChanges="keyboardHidden|orientation"
			android:label="@string/appname"
			android:name=".ItStudyCalendarActivity"
			android:theme="@style/Theme.Titanium">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity android:configChanges="keyboardHidden|orientation" android:name="org.appcelerator.titanium.TiActivity"/>
		<activity android:configChanges="keyboardHidden|orientation" android:name="org.appcelerator.titanium.TiTranslucentActivity" android:theme="@android:style/Theme.Translucent"/>
		<activity android:configChanges="keyboardHidden|orientation" android:name="org.appcelerator.titanium.TiModalActivity" android:theme="@android:style/Theme.Translucent"/>
		<activity android:configChanges="keyboardHidden|orientation" android:name="ti.modules.titanium.ui.TiTabActivity"/>
		<activity android:name="ti.modules.titanium.ui.android.TiPreferencesActivity"/>
		<service android:exported="false" android:name="org.appcelerator.titanium.analytics.TiAnalyticsService"/>
	</application>

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
</manifest>